Server/data/
*.iso
*.ffxipatch
*.ffxipatch.0*
__pycache__/
.DS_Store
*.part
Server/lsb/log/
Server/lsb/build/
Server/lsb/.cpm-cache/
Server/lsb/.build-venv/
Server/lsb/login.cert
Server/lsb/login.key
Server/lsb/app_bridge.*
Server/lsb/app_roles.lua
