[Desktop Entry]
Type=Application
Name=FFXI Server
Comment=FFXI 2016 Server - Fan Project by Habex
Exec=bash -c "exec bash \\"\\$(dirname \\"\\$0\\")/FFXI Server (Linux).sh\\"" %k
Terminal=false
Categories=Game;
